.box-box{
    padding: 20px;
    padding-top: 30px;
    background: #fff;
}
#center-box{
    padding: 30px;
    padding-top: 40px;
}
.mask{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999;
    display: none;
}
.popup{
    width: 260px;
    height: 154px;
    background: rgb(255, 255, 255);
    position: fixed;
    z-index: 9999999999;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    /* display: none; */
}
.popup-top{
    width: 260px;
    height: 42px;
    border-bottom: 1px solid #eeeeee;
    background: #f8f8f8;
    line-height: 42px;
    text-indent: 12px;
    font-size: 17px;
}
.closepopup{
    float: right;
    line-height: 42px;
    margin-right: 12px;
    font-size: 18px;
    font-weight: normal;
    cursor: pointer;
}
.span-text{
    display: block;
    width: 260px;
    height: 70px;
    line-height: 70px;
    text-indent: 30px;
    font-size: 15px;
}
.popup-bottom input{
    position: relative;
    left: 130px;
}