<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thmeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
      <meta name="_csrf" th:content="${_csrf.token}"/>
      <!-- default header name is X-CSRF-TOKEN -->
      <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
      <meta name="_username" th:content="${session.user.username}"/>
      <link rel="Shortcut Icon" href="admin/img/logo.ico">
    <link rel="stylesheet" href="css/mdui.min.css" />
    <link rel="stylesheet" href="css/talkbar.css" />
    <link rel="stylesheet" href="css/swiper.min.css" />
    <title>Document</title>
    <script src="js/jquery.min.js"></script>
    <script src="js/talkbar.js"></script>
    <script src="js/mdui.min.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/geren.js"></script>
  </head>
  <body
    class="mdui mdui-appbar-with-toolbar mdui-appbar-with-tab"
  >
    <div class="talkbody">
      <!-- 中间主体部分 包括了fixed的bar和下部分 -->
      <div class="talkbar_thin mdui-appbar-fixed mdui-appbar">
        <div class="mdui-toolbar mdui-color-brown-300">
          <span class="mdui-typo-title">知乡交流社区</span>
          <div class="mdui-toolbar-spacer"></div>
          <div
            class="mdui-textfield mdui-textfield-expandable mdui-float-right"
          >
            <button
              class="mdui-textfield-icon mdui-btn mdui-btn-icon"
              mdui-tooltip="{content: '搜索'}"
            >
              <i class="mdui-icon material-icons">search</i>
            </button>
            <input
              class="mdui-textfield-input"
              type="text"
              placeholder="大家都在搜：阳明心学"
            />
            <button class="mdui-textfield-close mdui-btn mdui-btn-icon">
              <i class="mdui-icon material-icons">close</i>
            </button>
          </div>
          <a
            href="javascript:;"
            class="mdui-btn mdui-btn-icon"
            mdui-tooltip="{content: '消息'}"
            ><i class="mdui-icon material-icons">notifications_none</i></a
          >
          <a
            href="javascript:;"
            class="mdui-btn mdui-btn-icon"
            mdui-tooltip="{content: '发表'}"
            id="add_two-dialog"
            ><i class="mdui-icon material-icons">add</i></a
          >
          <a href="javascript:;" class="mdui-btn mdui-btn-icon"
            ><img src="img/to_bar_2.jpg" alt=""
          /></a>
        </div>
        <div class="mdui-tab mdui-color-brown-300" mdui-tab id="three_part_btn_fa">
          <a href="/talkbar" class="mdui-ripple mdui-ripple-white three_part_btn"
            id="talktar">当前热门</a
          >
          <a href="#" class="mdui-ripple mdui-ripple-white three_part_btn mdui-tab-active"
            >个人中心</a
          >
        </div>
      </div>
      <div id="three_part" class="swiper-container">         
          <div class="swiper-slide stop-swiping">
            <div id="fengmian">我是封面我是封面我是封面我是封面</div>
            <div id="geren_body">
              <div class="my_head">
                <img src="img/to_bar_2.jpg" alt="">
              </div>
              <div class="my_name" th:text="${session.user.nickname}">猫尾草</div>
              <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-pink-accent mdui-float-right" id="bianji">编辑个人资料</button>
              <div id="geren_tab" class="mdui-hoverable mdui-shadow-2">
                <span>个人中心</span>
                <li class="mdui-divider"></li>
                <ul class="mdui-list">
                  <li class="mdui-list-item mdui-ripple colorful" id="post">
                    <i class="mdui-list-item-icon mdui-icon material-icons">chat</i>
                    <div class="mdui-list-item-content">我的发帖</div>
                  </li>
                  <li class="mdui-list-item mdui-ripple" id="reply">
                    <i class="mdui-list-item-icon mdui-icon material-icons">send</i>
                    <div class="mdui-list-item-content">我的回复</div>
                  </li>
                  <li class="mdui-list-item mdui-ripple" id="bookmarks">
                    <i class="mdui-list-item-icon mdui-icon material-icons">star</i>
                    <div class="mdui-list-item-content">我的收藏</div>
                  </li>
                  <li class="mdui-divider" ></li>
                  <li class="mdui-list-item mdui-ripple" id="fans">
                    <i class="mdui-list-item-icon mdui-icon material-icons">face</i>
                    <div class="mdui-list-item-content">我的粉丝</div>
                  </li>
                  <li class="mdui-list-item mdui-ripple" id="follows">
                    <i class="mdui-list-item-icon mdui-icon material-icons">favorite</i>
                    <div class="mdui-list-item-content">我的关注</div>
                  </li>
                  <li class="mdui-divider"></li>
                  <li class="mdui-list-item mdui-ripple" id="profile">
                    <i class="mdui-list-item-icon mdui-icon material-icons">person</i>
                    <div class="mdui-list-item-content">编辑资料</div>
                  </li>
                  <li class="mdui-list-item mdui-ripple" id="set">
                    <i class="mdui-list-item-icon mdui-icon material-icons">help</i>
                    <div class="mdui-list-item-content">隐私设置</div>
                  </li>
                </ul>
              </div>
              <div id="geren_tab_to" class="mdui-hoverable mdui-shadow-2">
                <div id="to_fatie" class="to_where to_appear">
                  <span>我的发帖</span>
                  <li class="mdui-divider"></li>
                    <div class="fatie_item" th:each="mypage:${mypage}">
                        <p class="fatie_item_time" th:text="${mypage.easyCreateTime}"><i class="mdui-icon material-icons">access_time</i></p>
                        <p class="fatie_item_title" th:text = "${mypage.title}">关于阳明心学的一些见解</p>
                        <p class="fatie_item_more">
                            <i class="mdui-icon material-icons" >remove_red_eye</i><span th:text = "${mypage.viewSize}">15</span>
                            <i class="mdui-icon material-icons" >mode_comment</i>  <span th:text = "${mypage.commentSize}">4</span>
                            <i class="mdui-icon material-icons" >thumb_up</i> <span th:text = "${mypage.zanSize}">10</span>
                        </p>
                        <li class="mdui-divider"></li>
                    </div>
                </div>
                <div id="to_huifu" class="to_where to_appear">
                  <span>我的回复</span>
                  <li class="mdui-divider"></li>
                  <div class="huifu_item" th:each = "page : ${page}">
                      <p class="huifu_item_time" th:text="${page.easyCreateTime}"><i class="mdui-icon material-icons">access_time</i> 3小时前</p>
                      <p class="huifu_item_title"  th:text = "${page.article.title}">不错</p>
                      <div class="huifu_item_yinyong">
                        <a href="#" th:text = "${page.replyUser.nickname}">被引用id</a>
                        <p th:text="${page.content}">关于即将举办的乡土文化征文大赛</p>
                      </div>
                      <li class="mdui-divider"></li>
                  </div>
                </div>
                <div id="to_shoucang" class="to_where to_appear">
                  <span>我的收藏</span>
                  <li class="mdui-divider"></li>
                  <div class="fatie_item" th:each="page:${page}">
                      <!--<p class="fatie_item_time"><i class="mdui-icon material-icons">access_time</i> 3小时前</p>-->
                      <p class="fatie_item_title" th:text="${page.article.title}">关于阳明心学的一些见解</p>
                      <p class="fatie_item_more">
                        <i class="mdui-icon material-icons">remove_red_eye</i><span th:text="${page.article.viewSize}"></span>
                        <i class="mdui-icon material-icons">mode_comment</i><span th:text = "${page.article.commentSize}"></span>
                        <i class="mdui-icon material-icons icon-ac">thumb_up</i><span th:text="${page.article.zanSize}"></span>
                      </p>
                        <li class="mdui-divider"></li>
                    </div>
                </div>
                <div id="to_fensi" class="to_where to_appear">
                  <span>粉丝列表</span>
                  <li class="mdui-divider"></li>
                  <ul class="mdui-list">
                      <li class="mdui-list-item mdui-ripple" th:each = "page:${fanspage}">
                        <div class="mdui-list-item-content" th:text = "${page.nickname}"></div>
                        <div class="mdui-list-item-avatar"><img src="img/to_bar_2.jpg"/></div>
                      </li>
                    </ul>
                </div>
                <div id="to_guanzhu" class="to_where to_appear">
                  <span>关注列表</span>
                  <li class="mdui-divider"></li>
                  <ul class="mdui-list">
                      <li class="mdui-list-item mdui-ripple" th:each="page:${followpage}">
                        <div class="mdui-list-item-content" th:text = "${page.nickname}"></div>
                        <div class="mdui-list-item-avatar"><img src="img/to_bar_2.jpg"/></div>
                      </li>
                    </ul>
                </div>
                <div id="to_bianji" class="to_where to_appear">
                  <span>编辑资料</span>
                  <li class="mdui-divider"></li>
                  <div class="bianji_head">
                    <div class="bianji_myhead">
                      <img src="img/to_bar_2.jpg" alt="">
                    </div>
                    <div class="bianji_more">
                      <span class="bianji_more_l" >昵称</span>
                      <div class="mdui-textfield bianji_more_r">
                        <input class="mdui-textfield-input" type="text"  th:value = "${user.nickname}" name = "nickename" id="nickname"/>
                      </div>
                    </div>
                      <form >
                    <div class="bianji_more">
                      <span class="bianji_more_l">性别</span>
                      <span class="bianji_more_r">
                          <form>
                              <label class="mdui-radio mdui-m-l-1">
                                <input type="radio" name="group1" value="1"/>
                                <i class="mdui-radio-icon"></i>
                                男
                              </label>
                              <label class="mdui-radio mdui-m-l-1">
                                <input type="radio" name="group1"  value="2"/>
                                <i class="mdui-radio-icon"></i>
                                女
                              </label>
                              <label class="mdui-radio mdui-m-l-1">
                                  <input type="radio" name="group1" value="0" checked/>
                                  <i class="mdui-radio-icon"></i>
                                  保密
                              </label>
                          </form>
                      </span>
                    </div>
                      </form>
                    <div class="bianji_more">
                      <span class="bianji_more_l">个性签名</span>
                      <div class="mdui-textfield bianji_more_r">
                          <input class="mdui-textfield-input" type="text" maxlength="20" th:value ="${user.profile}" id="content" name="content"/>
                      </div>
                    </div>
                  </div>
                  <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-pink-accent mdui-m-t-2" id="edit">保存</button>
                </div>
                <div id="to_yinsi" class="to_where to_appear">
                  <span>隐私设置</span>
                  <li class="mdui-divider"></li>
                  <ul class="mdui-list">
                      <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content">隐藏个人中心</div>
                        <label class="mdui-switch mdui-float-right">
                            <input type="checkbox"/>
                            <i class="mdui-switch-icon"></i>
                        </label>
                      </li>
                      <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content">隐藏关注列表</div>
                        <label class="mdui-switch mdui-float-right">
                            <input type="checkbox"/>
                            <i class="mdui-switch-icon"></i>
                        </label>
                      </li>
                      <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content">谁能查看发帖、回复、收藏</div>
                        <form class="mdui-float-right">
                            <label class="mdui-radio" style="margin-right:15px">
                              <input type="radio" name="group1"/>
                              <i class="mdui-radio-icon"></i>
                              我的关注
                            </label>
                            <label class="mdui-radio">
                              <input type="radio" name="group1" checked/>
                              <i class="mdui-radio-icon"></i>
                              所有人
                            </label>
                          </form>
                      </li>
                      <li class="mdui-list-item mdui-ripple">
                          <div class="mdui-list-item-content">评论权限</div>
                          <form class="mdui-float-right">
                              <label class="mdui-radio" style="margin-right:15px">
                                <input type="radio" name="group1"/>
                                <i class="mdui-radio-icon"></i>
                                我的关注
                              </label>
                              <label class="mdui-radio">
                                <input type="radio" name="group1" checked/>
                                <i class="mdui-radio-icon"></i>
                                所有人
                              </label>
                            </form>
                      </li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- 弹出的发表文章dialog -->
    <div id="wenzhang_dialog" class="mdui-dialog">
      <div id="article_upload"></div>
      <button
        class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-pink-accent mdui-float-right"
        id="article_upload_btn"
      >
        发布文章
      </button>
    </div>
    <!-- 弹出发表帖子dialog -->
    <div id="tiezi_dialog" class="mdui-dialog">
      <div class="mdui-dialog-container">
        <div class="swiper-container" id="tiezi_swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <!-- slide1 -->
              <div class="mdui-container-fluid">
                <div class="mdui-textfield">
                  <label class="mdui-textfield-label">赛事标题</label>
                  <input
                    class="mdui-textfield-input"
                  ></input>
                </div>
                <div class="mdui-textfield">
                    <label class="mdui-textfield-label">内容简介</label>
                  <textarea
                    class="mdui-textfield-input"
                    rows="7"
                  ></textarea>
                </div>
                <div class="mdui-textfield">
                    <label class="mdui-textfield-label">奖励设置</label>
                  <textarea
                    class="mdui-textfield-input"
                  ></textarea>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
                <div class="mdui-container-fluid">
                    <div class="mdui-textfield">
                      <label class="mdui-textfield-label">热点问题</label>
                      <input
                        class="mdui-textfield-input"
                      ></input>
                    </div>  
                    <div class='mdui-col-xs-6'>
                        <div class="mdui-textfield">
                            <label class="mdui-textfield-label">正方观点</label>
                          <textarea
                            class="mdui-textfield-input"
                            rows="7"
                          ></textarea>
                        </div>
                    </div>
                    <div class='mdui-col-xs-6'>
                        <div class="mdui-textfield">
                            <label class="mdui-textfield-label">反方观点</label>
                          <textarea
                            class="mdui-textfield-input"
                            rows="7"
                          ></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div id="slide_2_wang"></div>
            </div>
            <div class="swiper-slide">
                <div id="slide_3_wang"></div>
            </div>
          </div>
        </div>
      </div>
      <button
        class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-pink-accent mdui-float-left"
        id="tiezi_upload_btn_f"
        mdui-menu="{target: '#choose_type'}"
      >
        选择主题
      </button>
      <button
        class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-pink-accent mdui-float-right"
        id="tiezi_upload_btn"
      >
        发表帖子
      </button>
      <ul class="mdui-menu mdui-menu-cascade" id="choose_type">
        <li class="mdui-menu-item">
          <a href="javascript:;" class="mdui-ripple">
            主题赛事
          </a>
        </li>
        <li class="mdui-menu-item">
          <a href="javascript:;" class="mdui-ripple">
            热点投票
          </a>
        </li>
        <li class="mdui-menu-item">
          <a href="javascript:;" class="mdui-ripple">
            日常动态
          </a>
        </li>
        <li class="mdui-menu-item">
          <a href="javascript:;" class="mdui-ripple">
            提问
          </a>
        </li>
      </ul>
    </div>
    <div id="taren_dialog" class="mdui-dialog">
            <div id="fengmian_ta">我是封面我是封面我是封面我是封面</div>
            <div id="ta_body">
              <div class="ta_head">
                <img src="img/to_bar_2.jpg" alt="">
              </div>
              <div class="ta_name">空洞</div>
              <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-pink-accent mdui-float-right guanzhu">关注</button>
              <div class="ta_zhuye">
                  <div class="fatie_item" th:each="article:${article}">
                      <p class="fatie_item_time" th:text="${article.easyCreatTime}"><i class="mdui-icon material-icons">access_time</i> 3小时前</p>
                      <p class="fatie_item_title" th:text = "${article.content}">关于阳明心学的一些见解</p>
                      <p class="fatie_item_more">
                        <i class="mdui-icon material-icons">remove_red_eye</i> <span th:text="${article.viewSize}"></span>
                        <i class="mdui-icon material-icons">mode_comment</i>  <span th:text="${article.commentSize}"></span>
                        <i class="mdui-icon material-icons icon-ac">thumb_up</i>  <span th:text="${article.zanSize}"></span>
                      </p>
                        <div class="mdui-divider"></div>
                  </div>
                  <!--<div class="fatie_item">-->
                      <!--<p class="fatie_item_time"><i class="mdui-icon material-icons">access_time</i> 3小时前</p>-->
                      <!--<p class="fatie_item_title">关于阳明心学的一些见解</p>-->
                      <!--<p class="fatie_item_more">-->
                        <!--<i class="mdui-icon material-icons">remove_red_eye</i> 15-->
                        <!--<i class="mdui-icon material-icons">mode_comment</i>  4-->
                        <!--<i class="mdui-icon material-icons icon-ac">thumb_up</i>  10-->
                      <!--</p>-->
                      <!--<div class="mdui-divider"></div>-->
                  <!--</div>-->
              </div>
             
            </div>
         
    </div>
    <script type="text/javascript" src="js/wangEditor.min.js"></script>
    <script>
      var $$ = mdui.JQ;
      //保持fixed的顶部导航栏宽度正常 放html里防止因加载顺序出现0.1s的导航栏占全屏状况
      var inW = $$(".talkbody").width();
      $$(".talkbar_thin").width(inW);
      window.onresize = function() {
        inW = $$(".talkbody").width();
        $$(".talkbar_thin").width(inW);
      };
    </script>
  </body>
</html>
